<% include partials/header %>

<body>
<% include partials/top-menu %>
<section class="section">
<div class="container">
  <br/>
  <br/>
  <h1 class="title"><%= title %></h1>
  
  <div class="content">
  <%- contents %>
  </div>
  <!-- Links to all posts: -->
  <% collections.posts.forEach(post => { %>
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <a class="title is-4" href="<%= tools.fixPath(post.path) %>">
              <%= post.title %>
            </a>
          </div>
        </div>
              
        <div class="content">
          <div>
            <%- tools.cutExcerpt(post.contents) %>
          </div>
          <br/>
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>
      </div>
    </div>
    <br/>
  <% }) %>

  <br/>
  <br/>
</div>
</section>
</body>
</html>
